* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.main::before {
    content: "";
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.515)), url(image1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.complete-form-container {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container-image {
    width: 450px;
    height: 350px;
}

.form-container-element {
    width: 450px;
    height: 350px;
    background-color: white;
}

.form-container-element h2 {
    text-align: center;
    margin: 15px 0px 0px 0px;
}

.form-container-image img {
    width: 100%;
    height: 100%;
    ;
}

h2 span::before {
    content: "";
    width: 180px;
    height: 1px;
    background-color: #f2745f;
    position: absolute;
    bottom: 0px;
}

h2 span {
    position: relative;
}

.container {
    margin: 32px 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 400px;
    grid-gap: 1rem;
}

form {
    margin: 0px 20px;
}

form span {
    font-size: 18px;

}

input,
select {
    width: 100%;
    margin: 10px 0px;
    height: 30px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid #f2745f;
}


form input[type=submit] {
    color: #fff;
    background: #f2745f;
    border-radius: 8px;
    cursor: pointer;
    width: 60%;
    height: 40px;
    font-size: 20px;

}

form input[type=submit]:hover {
    opacity: 0.9;
}

form input[type=text],
form input[type=date],
form input[type=number],
form input::placeholder,
select {
    color: #5e5b5b;
}

form input[type=submit] {
    text-align: center;
    margin: 0px auto;
    width: 100%;
}

@media (max-width: 750px) {
    .complete-form-container {
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .form-container-image {
        width: 100%;
        height: 350px;
    }

    .form-container-element {
        width: 100%;
        height: 350px;
        background-color: white;
    }

    .container {
        max-width: 600px;
        grid-column-gap: 3rem;
    }

}